# infra JS
/build/
/node_modules/
/tests/
/utils/
/recordings/
/vendor/sinon.js

# noVNC application files
/app
/vendor/browser-es-module-loader
/vendor/promise.js
/vnc.html
/vnc_lite.html

# raw translation files
/po

# config files
/.travis.yml
/karma.conf.js

# various other files
/.gitmodules
.*
*~
*.swp
*.swo

# documentation (except licenses)
/docs/notes
/docs/links
/docs/release.txt
/docs/rfb_notes
/docs/*.pdf
/docs/flash_policy.txt
/CONTRIBUTING.md
