{
    "env": {
        "node": true,
        "mocha": true
    },
    "globals": {
        "chai": false,
        "sinon": false
    },
    "rules": {
        "prefer-arrow-callback": 0,
        // Too many anonymous callbacks
        "func-names": "off",
    }
}
