html,body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.flex-layout {
    width: 100%;
    height: 100%;

    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;

    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;

    box-align: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-box-align: stretch;
}
.flex-box {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
}

.container {
    margin: 0px;
    padding: 0px;
}

.canvas {
    position: absolute;
    border-style: dotted;
    border-width: 1px;
}
