body {
  margin:0;
  padding:0;
  font-family: Helvetica;
  /*Background image with light grey curve.*/
  background-color:#494949;
  background-repeat:no-repeat;
  background-position:right bottom;
  height:100%;
}

html {
  height:100%;
}

#noVNC_controls ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#noVNC_controls li {
  padding-bottom:8px;
}

#noVNC_host {
  width:150px;
}
#noVNC_port {
  width: 80px;
}
#noVNC_password {
  width: 150px;
}
#noVNC_encrypt {
}
#noVNC_connectTimeout {
  width: 30px;
}
#noVNC_path {
  width: 100px;
}
#noVNC_connect_button {
  width: 110px;
  float:right;
}

/*Mobile buttons bar.*/
#noVNC-control-bar {
  position:fixed;
  background-color:#6d84a2;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, rgb(109,132,162)),
    color-stop(1, rgb(140,157,179))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(109,132,162) 50%,
    rgb(140,157,179) 100%
  );
  display:block;
  height:44px;
  left:0;
  top:0;
  width:100%;
  z-index:200;
} 

#noVNC_view_drag_button {
  display: none;
}
#sendCtrlAltDelButton {
  display: none;
}
#noVNC_mobile_buttons {
  display: none;
}

.noVNC-buttons-left {
  float: left;
  padding-left:10px;
  padding-top:4px;
}

.noVNC-buttons-right {
  float:right;
  right: 0px;
  padding-right:10px;
  padding-top:4px;
}

#noVNC_status_bar {
  margin-top: 0px;
  padding: 0px;
}

#noVNC_status_bar div {
  font-size: 12px;
  padding-top: 4px;
  width:100%;
}

#noVNC_status {
  height:20px;
  text-align: center;
}
#noVNC_settings_menu {
  margin: 3px;
  text-align: left;
}
#noVNC_settings_menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#noVNC_apply {
  float:right;
}

.noVNC_status_normal {
  background: #eee;
}
.noVNC_status_error {
  background: #f44;
}
.noVNC_status_warn {
  background: #ff4;
}

/* Do not set width/height for VNC_screen or VNC_canvas or incorrect
 * scaling will occur. Canvas resizes to remote VNC settings */
#noVNC_screen_pad {
  margin: 0px;
  padding: 0px;
  height: 44px;
}
#noVNC_screen {
  text-align: center;
  display: table;
  width:100%;
  height:100%;
  background-color:#313131;
  border-bottom-right-radius: 800px 600px;
  /*border-top-left-radius: 800px 600px;*/
}

#noVNC_container, #noVNC_canvas {
    margin: 0px;
    padding: 0px;
}

#noVNC_canvas {
  left: 0px;
}

#VNC_clipboard_clear_button {
  float:right;
}
#VNC_clipboard_text {
  font-size: 11px;
}

#noVNC_clipboard_clear_button {
  float:right;
}

/*Settings Bubble*/
.triangle-right {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#fff;
  background:#fff; /* default background for browsers without gradient support */
  /* css3 */
  /*background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background:-moz-linear-gradient(#2e88c4, #075698);
  background:-o-linear-gradient(#2e88c4, #075698);
  background:linear-gradient(#2e88c4, #075698);*/
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  color:#000;
  border:2px solid #E0E0E0;
}

.triangle-right.top:after {
  border-color: transparent #E0E0E0;
  border-width: 20px 20px 0 0;
  bottom: auto;
  left: auto;
  right: 50px;
  top: -20px;
}

.triangle-right:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#E0E0E0 transparent; 
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

.triangle-right.top:after {
  top:-40px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:40px 40px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent #E0E0E0; 
}

/*Bubble contents divs*/
#noVNC_settings {
  display:none; 
  margin-top:72px;
  right:10px;
  position:fixed;
}

#noVNC_controls {
  margin-top:72px;
  right:10px;
  position:fixed;
}
#noVNC_controls.top:after  {
  right:15px;
}

#noVNC_clipboard {
  display:none; 
  margin-top:72px;
  right:20px;
  position:fixed;
}
#noVNC_clipboard.top:after {
  right:85px;
}

/*Default noVNC logo.*/
#noVNC_logo {
  margin-top: 170px;
  margin-left: 10px;
  color:yellow;
  text-align:left;
  font-family: 'Orbitron', sans-serif;
  line-height:90%;
  text-shadow:
       5px 5px 0 #000,
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


#noVNC_logo span{
  color:green;
}

#keyboardinput {
  width:1px;
  height:1px;
  background-color:#6d84a2;
  border:0;
}

.noVNC_status_warn {
  background-color:yellow;
}

/* ----------------------------------------
 * Media sizing
 * ----------------------------------------
 */


.noVNC_status_button {
  font-size: 12px;
  padding: 2px;
  vertical-align: middle;
}
#noVNC_clipboard_text {
  width: 500px;
}

#noVNC_logo {
  font-size: 180px;
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  .noVNC_status_button {
    font-size: 10px;
    padding: 1px;
  }
  #noVNC_clipboard_text {
    width: 410px;
  }
  #noVNC_logo {
    font-size: 150px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .noVNC_status_button {
    font-size: 10px;
    padding: 0px;
  }
  #noVNC_clipboard_text {
    width: 250px;
  }
  #noVNC_logo {
    font-size: 110px;
  }
}

@media screen and (max-width: 320px) {
  .noVNC_status_button {
    font-size: 9px;
    padding: 0px;
  }
  #noVNC_clipboard_text {
    width: 220px;
  }
  #noVNC_logo {
    font-size: 90px;
  }
}
