body {
  margin: 0;
  font-size: 13px;
  color: #111;
  font-family: "Helvetica";
}

#VNC_controls {
  background: #111;
  line-height: 1em;
  color: #FFF;
  overflow: hidden;
  padding: 4px 24px;
}

#VNC_controls ul {
  list-style:none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
#VNC_controls li {
  margin-right: 15px;
  padding: 2px 0;
  float: left;
}
#VNC_controls li input[type=text],
#VNC_controls li input[type=password] {
  border: 2px solid #333;
}

#VNC_host {
    width: 100;
}
#VNC_port {
    width: 50;
}
#VNC_password {
    width: 80;
}
#VNC_encrypt {
}
#VNC_connect_button {
    width: 100px;
}

#VNC_status_bar td {
    padding: 0px;
    margin: 0px;
}
#VNC_status_bar div {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 1em;
}
.VNC_status_button {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
#VNC_status {
    text-align: center;
}
#VNC_settings_menu {
    display: none;
    position: absolute;
    width: 12em;
    border: 1px solid #888;
    background-color: #f0f2f6;
    padding: 5px; margin: 3px;
    z-index: 100; opacity: 1;
    text-align: left; white-space: normal;
}
#VNC_settings_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.VNC_buttons_right {
    text-align: right;
}
.VNC_buttons_left {
    text-align: left;
}
.VNC_status_normal {
  background: #111;
  color: #fff;
}
.VNC_status_error {
  background: #111;
  color: #f44;
}
.VNC_status_warn {
  background: #111;
  color: #ff4;
}

#VNC_screen {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #111;
  padding: 20px;
  margin: 0 auto;
  color: #FFF;
  margin-top: 20px;
  text-align: center;

  /* This causes the width of the outer div(#screen) honor the size of the inner (#vnc) div */
  display: table; 
  table-layout: auto;
}
#VNC_canvas {
  background: #111;
  margin: 0 auto;
}
#VNC_clipboard {
  display: none;
}
