#VNC_controls {
    overflow: hidden;
}
#VNC_controls ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#VNC_controls li {
    float: left;
    margin-right: 15px;
}

#VNC_host {
    width: 100;
}
#VNC_port {
    width: 50;
}
#VNC_password {
    width: 80;
}
#VNC_encrypt {
}
#VNC_connect_button {
    width: 100px;
}

#VNC_status_bar td {
    margin-top: 15px;
    padding: 0px;
    margin: 0px;
}
#VNC_status_bar div {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.VNC_status_button {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
#VNC_status {
    text-align: center;
}
#VNC_settings_menu {
    display: none;
    position: absolute;
    width: 12em;
    border: 1px solid #888;
    background-color: #f0f2f6;
    padding: 5px; margin: 3px;
    z-index: 100; opacity: 1;
    text-align: left; white-space: normal;
}
#VNC_settings_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.VNC_buttons_right {
    text-align: right;
}
.VNC_buttons_left {
    text-align: left;
}
.VNC_status_normal {
    background: #eee;
}
.VNC_status_error {
    background: #f44;
}
.VNC_status_warn {
    background: #ff4;
}

/* Do not set width/height for VNC_screen or VNC_canvas or incorrect
 * scaling will occur. Canvas resizes to remote VNC settings */
#VNC_screen {
    text-align: center;
    display: table;
}
#VNC_canvas {
    background: #eee;
}

#VNC_clipboard_clear_button {
}
#VNC_clipboard_text {
    font-size: 9;
}

