#VNC_controls {
    overflow: hidden;
}
#VNC_controls ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#VNC_controls li {
    float: left;
    margin-right: 15px;
}

#VNC_host {
    width: 100;
}
#VNC_port {
    width: 50;
}
#VNC_password {
    width: 80;
}
#VNC_encrypt {
}
#VNC_connect_button {
    width: 100px;
}

#VNC_status {
    margin-top: 15px;
    text-align: center;
    background: #eee;
}

/* Do not set width/height for VNC_screen or VNC_canvas or incorrect
 * scaling will occur. Canvas resizes to remote VNC settings */
#VNC_screen {
    text-align: center;
    display: table;
}
#VNC_canvas {
    background: #eee;
}

#VNC_clipboard_clear_button {
}
#VNC_clipboard_text {
    font-size: 9;
}

